
@media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */
    textarea{
        height: 120px;
    }

    .answer{
        padding: 6px;
    }

    form {
        padding: 0px;
        width: 100%;
        height: 78%;
        border-radius: 0%;
        margin-top: 10%;
    }

    section {
        width: 85%;
        float: none;
    }

    aside {
        width: 85%;
        float: none;
    }

    body{
        background-image: url("/img/deerBackgroundVertical.jpg");
    }
}

@media (min-width:481px) {/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

    textarea{
        height: 150px;
    }

    section {
        width: 85%;
        float: none;
    }

    aside {
        width: 85%;
        float: none;
    }

    form {
        padding: 8px;
        width: 85%;
        height: 65%;
        border-radius: 1%;
    }

    body{
        background-image: url("/img/deerBackgroundVertical.jpg");
    }
}


@media (min-width:641px) {  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    form {
        padding: 10px;
        width: 50%;
        height: 55%;
        border-radius: 2%;
    }

    body{
        background-image: url("/img/deerBackgroundVertical.jpg");
    }
}

@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
    form {
        padding: 10px;
        width: 35%;
        height: 400px;
        border-radius: 2%;
    }

    body{
        background-image: url("/img/deerBackground.jpg");
    }

    section {
        width: 85%;
        float: none;
    }

    aside {
        width: 85%;
        float: none;
    }
}
@media (min-width:1281px) {  /* hi-res laptops and desktops */
    form {
        padding: 12px;
        width: 330px;
        height: 420px;
        border-radius: 2%;
    }

    section {
        width: 85%;
        float: none;
    }

    aside {
        width: 85%;
        float: none;
    }
}