body {
    background-image: url("/img/qoorsachEnglishBackground.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-color: white;
    text-align: center;
}
body > * {
    font-family: Georgia;
}

h1{
    margin-bottom: 35px;
}

h2{
    margin-bottom: 30px;
    margin-top: 50px;
}

p {
    font-size: 14pt;
    text-align: justify;
}

blockquote.style1 {
    font: 14px/20px italic Times, serif;
    padding: 14px;
    background-color: #faebbc;
    border-top: 1px solid #e1cc89;
    border-bottom: 1px solid #e1cc89;
    margin: 5px;
    background-image: url("/img/quotes/openquote1.gif");
    background-position: top left;
    background-repeat: no-repeat;
    text-indent: 23px;
}
blockquote.style1 span {
    display: block;
    background-image: url("/img/quotes/closequote1.gif");
    background-repeat: no-repeat;
    background-position: bottom right;
}


.right-image{
    padding: 10px;
    float: right;
    margin-left: 40px;
    margin-bottom: 30px;
    display: block;
    max-width:300px;
    max-height:240px;
    width: auto;
    height: auto;
}

.right-image-text{
    text-align: justify;
    float: right;
    margin-left: 40px;
    margin-bottom: 30px;
    padding: 10px;
    max-width:300px;
    max-height:240px;
    width: auto;
    height: auto;
    display: block;
}

.right-image-text img{
    display: block;
    max-width:300px;
    max-height:240px;
    width: auto;
    height: auto;
    margin-bottom: 5px;
}

.right-image-test{
    padding: 10px;
    display: inline-block;
    margin: 10px;
    height: 25%;
    width: 25%;
    float:right;
}
/*.right-image-test img{
    object-fit: contain;
}*/

.question{
    text-align: justify;
    border: solid;
    border-color: lightgrey;
    padding: 7px;
    margin: 10px;
}

.question p{
    padding: 5px;
}

.answer{
    width: 100%;
    height: 100%;
    text-align: center;
}

.answer textarea{
    width: 210px;
    height: 50px;
    resize: none;
}

.center-image{
    text-align: center;
    clear: both;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.center-image-text{
    text-align: center;
    clear: both;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.center-image-text img{
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.feed{
    display: inline-block;
    text-align: center;
    background-color: whitesmoke;
    width: 75%;
    min-width: 400px;
    opacity: 0.985;
    margin-top: 20px;
    padding:35px;
}


input {

}

.btn {
    margin: 45px;
    font-family: Helvetica;
    font-size: 16pt;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 0px #fafaaa;
    text-shadow: 0px 0px 0px #5c5c5c;
    box-shadow: 0px 0px 2px #fafaaa;
    color: #474737;
    background: #fff64c;
    padding: 11px 12px 11px 12px;
    text-decoration: none;
}

.btn:hover {
    background: #f5e078;
    background-image: -webkit-linear-gradient(top, #f5e078, #fff04c);
    background-image: -moz-linear-gradient(top, #f5e078, #fff04c);
    background-image: -ms-linear-gradient(top, #f5e078, #fff04c);
    background-image: -o-linear-gradient(top, #f5e078, #fff04c);
    background-image: linear-gradient(to bottom, #f5e078, #fff04c);
    text-decoration: none;
}



