body {
    background-image: url("/img/qoorsachEnglishBackground.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-color: white;
    text-align: center;
}

.captcha {
    text-align: center;
    clear: both;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.registration-block {
    clear: both;
    display: inline-block;
    text-align: center;
    background-color: whitesmoke;
    width: 40%;
    min-width: 300px;
    max-width: 450px;
    opacity: 0.985;
    margin-top: 20px;
    padding: 35px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
}

.registration-block table {
    width: 95%;
}

table input {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0px 0px 1px #666666;
    -moz-box-shadow: 0px 0px 1px #666666;
    box-shadow: 0px 0px 1px #666666;
    font-family: Georgia;
    color: #383838;
    font-size: 18px;
    background: #ffffff;
    padding: 12px 18px 12px 18px;
    text-decoration: none;
    border: none;
}

.btn:hover {
    background: #c2c2c2;
    text-decoration: none;
}